<div class="editor-container">
    <div class="question-container">
        <div class="container question-block">
            <h2>Question : Some Title</h2>
            <p class="question">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
                content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'
            </p>
        </div>
        <div class="container input-block">
            <h2>Input Example :</h2>
            <div class="input-sample">
                
            </div>
        </div>
        <div class="container output-block">
            <h2>Output Example :</h2>
            <div class="output-sample"></div>
        </div>
    </div>
    <div class="main-editor">
        <div class="main" #editor>

        </div>
        <div class="exce">
            <div class="output">This will display the output.</div>
            <mat-divider></mat-divider>
            <div class="input">
                <textarea placeholder="Input to your program"></textarea>
            </div>
        </div>
    </div>
</div>