<div class="container">
    <h3>Create Assignment</h3>
    <form [formGroup]="assignmentForm" (ngSubmit)="onSubmit()" novalidate>
        <mat-form-field appearance="outline">
            <mat-label>Assignment Name</mat-label>
            <input matInput formControlName="title">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Language</mat-label>
            <mat-select    formControlName="language">
              <mat-option  *ngFor="let lang of languages" [value]="lang.id">{{lang.language}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Question</mat-label>
            <textarea matInput formControlName="question"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Input Sample</mat-label>
            <textarea matInput formControlName="inputSample" class="code-samples"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Output Sample</mat-label>
            <textarea matInput formControlName="outputSample" class="code-samples"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Class</mat-label>
            <mat-select   formControlName="team">
              <mat-option  *ngFor="let class of classList" [value]="class._id">{{class.title}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button  class="btn btn-success">Assign</button>
    </form>
</div>