.content{
    margin-top: 10px;
}
.profile-details{
    display: flex;
    align-items: center;
}
.details{
 margin-left: 10px;
width: 100%;
}
.details h4{
    margin: 5px;
}
.class-details{
    margin-top: 15px;
}
.list-group li{
    cursor: pointer;
}
.card-footer{
    display: flex;
    justify-content: center;
}
.assignment-header{
    display: flex;
    justify-content: space-between;
}
.post{
    margin-bottom: 10px;
}