.user-info{
    width: 100%;
    height: 35%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.details{
    margin: 50px;
}
.assignment-list{
    width: 100%;
    height: 60%;
    margin-top: 30px;
}
.card{
    background-color: transparent;
}