<div class="container">
    <div class="user-info">
            <img src="../../assets/img/profile.png" width="20%">
            <div class="details">
                <h3>Bharadwaj</h3>
                <h3>bkr@abc.com</h3>
                <!-- <h3>User Type : Student</h3> -->
            </div>
            <div class="stats">
                
            </div>
    </div>
    <mat-divider></mat-divider>
    <div class="assignment-info">
        <mat-tab-group>
            <mat-tab label="Assignments">
                <div class="assignments">
                    <button class="btn btn-success">Create Assignment</button>
                </div>
            </mat-tab>
            <mat-tab label="Submissions">  </mat-tab>
        </mat-tab-group>
        
    </div>
</div>