.discussion-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90vh;
    /* justify-content: space-between; */
}
.room-list-container{
    width: 25%;
    height: 100%;
    overflow-y: scroll;
    background-color: lavender;
}
.room-list-container::-webkit-scrollbar {
    display: none;
  }
.chat-container{
    margin: auto;
    width: 70%;
    height: 100%; 
}
.messages-container{
    width: 100%;
    height: 90%;
    overflow-y: scroll;
}
.messages-container::-webkit-scrollbar {
    display: none;
  }
.chat{
    width:100%;
    height: 90%;
}
.send-msg{
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
}
.input-group{
    width: 50%;
}
.send{
    width: 60%;
}
.send-msg button{
    height: 73%;


}