<app-home-header></app-home-header>
<div class="discussion-container">
    <div class="room-list-container">
        <mat-selection-list [multiple]="false">
            <mat-list-option *ngFor="let class of classList" [value]="class._id" (click)="joinRoom(class)">
                {{class.title}}
            </mat-list-option>
        </mat-selection-list>
    </div>
    <div class="chat-container">
        <div class="chat" *ngIf="currentRoomDetails">
            <div class="messages-container" id="messageDiv">
                <div *ngIf="messageArray.length == 0">
                    No Mesages yet
                </div>
                <ng-container *ngIf="messageArray.length >0">
                    <app-messages [message]="message" *ngFor="let message  of messageArray"></app-messages>
                </ng-container>
            </div>
            <div class="send-msg">
                <span><i *ngIf="isTyping" class="isTyping">typing...</i></span>
                <form [formGroup]="sendForm" (ngSubmit)="sendMessage()">
                    <mat-form-field style="width: 70%;">
                        <mat-label>Send Message</mat-label>
                        <input type="tel" matInput placeholder="type here ..."formControlName="message" (keypress)="typing()" >
                        <mat-icon matSuffix>send</mat-icon>
                    </mat-form-field>
                </form>
            </div>
        </div>

        <!-- <div id="chat-room">
            <h2>{{ username }}</h2>
            <span><i *ngIf="isTyping" class="isTyping">typing...</i></span>
            <div id="chat-window">
                <div *ngFor="let item of messageArray">
                    <p [class.userMessage] = "item.user == currentUser.name" [class.secUserMessage]="item.user != currentUser.name">{{ item.message }}</p>                
                </div>
            </div>
            <input (keypress)="typing()" formControlName='message' name="message" type="text" placeholder="Message" />            
            <button id="send" (click)="sendMessage()">Send</button>    
        </div> -->
    </div>
</div>