<div class="home-container">
    <div class="detail-container">
        <div class="user-detail">
            all user details here
        </div>
        <div class="stats-and-team">
            stats and team will be here
        </div>
    </div>
    <div class="task-container">
        <mat-tab-group>
            <mat-tab label="My Task">
                <div class="task-tab">
                    <div class="task-card" matBadge="1"></div>
                    <div class="task-card"></div>
                    <div class="task-card"></div>
                </div>
            </mat-tab>
            <mat-tab label="Submissions">
                <div class="submission-list">
                    <div class="team"></div>
                    <div class="submitted-task">
                        <mat-expansion-panel hideToggle>
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                This is the expansion title
                              </mat-panel-title>
                              <mat-panel-description>
                                This is a summary of the content
                              </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>This is the primary content of the panel.</p>
                          </mat-expansion-panel>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>